<div class="col_wrap cf first" style="display: block;">
  <div class="sub_menu_block_wrap">
    <div class="sub_menu_block">
      <div class="sub_menu_block_inner">
        <p>Who is the Radavist?</p>
        <p>&nbsp;</p>
        <p>
          A group of individuals who share a love of cycling and the outdoors.
          We will always stop for a photo, or to hit a jump.&nbsp; Rubber side
          up!
        </p>
        <p>&nbsp;</p>
        <p>
          We believe the outdoors should be respected. Please, pack it in and
          pack it out. Leave it better, even. Remember, we’re all ambassadors
          for cycling, so be polite on the road and the trails and observe the
          <a href="https://lnt.org/learn/7-principles"
            >leave no trace principles.</a
          >
        </p>
        <p>&nbsp;</p>
        <p>What does the Radavist mean?</p>
        <p>&nbsp;</p>
        <p>Rad + Atavist = RADAVIST</p>
      </div>
    </div>
  </div>
  <div class="sub_menu_block_wrap">
    <div class="sub_menu_block">
      <div class="sub_menu_block_inner">
        <p>Advertisement Disclaimer:</p>
        <p>&nbsp;</p>
        <p>
          These days, it’s hard to tell what is an ad and what is content. When
          you visit the Radavist, you can be assured that our content is our
          own. Unless it is explicitly noted, we do not take money to make
          content here on the site. We do not make sponsored posts and when we
          do a product review, it is honest. In short: nothing was exchanged for
          a favorable write-up. The only money this site receives is from the
          ads you see on the right-hand column. We select these brands because
          their ideologies&nbsp;align with the Radavist’s. When these companies
          buy an ad, it does not buy content. If we post about their products,
          it’s because they are relevant&nbsp;to the site’s audience.
        </p>
      </div>
    </div>
  </div>
  <div class="sub_menu_block_wrap">
    <div class="sub_menu_block">
      <div class="sub_menu_block_inner about_block_1_text">
        <p>
          Want to contribute?
          <a href="mailto:contact@theradavist.com">Send a submission</a>
        </p>
        <p>
          <a href="mailto:products@theradavist.com"
            >Submit a product for review</a
          >
        </p>
        <p>
          <a href="mailto:videos@theradavist.com"
            >Submit a video&nbsp;to post</a
          >
        </p>
        <p>
          Interested in advertising? email&nbsp;<a
            href="mailto:advertise@theradavist.com"
            target="_blank"
            rel="noopener"
            >the Radavist</a
          ><span style="line-height: 1.5em;">.</span>
        </p>
        <p>
          <strong>Our comment policy is simple</strong>: we welcome and value
          tactful discourse and opinions. You don’t have to agree with our views
          but please deliver your concerns in a polite and personable
          manner.&nbsp;This is a safe place, all are welcome to engage in this
          community. That said, there is&nbsp;zero-tolerance for: racism,
          sexism, trolling, and slander.
        </p>
        <p>&nbsp;</p>
        <p>
          Unless otherwise noted, we do not accept funds for content. This
          website runs on ad revenue, however, the advertisements do not
          influence or affect the content or opinions of the authors. If you
          have concerns or questions, feel free to drop them in the comments on
          the relevant post.
        </p>
      </div>
    </div>
  </div>
  <div class="sub_menu_block_wrap">
    <div class="sub_menu_block noshadow">
      <div class="sub_menu_block_inner">
        <img
          src="https://1k8v1j48qpy31xwzwlyhyn9p-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/PackItIn-decal-copy.png"
        />
      </div>
    </div>
  </div>
</div>
