<nav class="navbar mast mb-5">
  <a class="navbar-brand" routerLink="home"
    ><img id="logo" alt="logo" src="./assets/radavist.png"
  /></a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="about">About</a>
      <a class="nav-item nav-link" routerLink="radar">Radar</a>
      <a class="nav-item nav-link" routerLink="reportage">Reportage</a>
      <a class="nav-item nav-link" routerLink="shop">Shop</a>
      <a class="nav-item nav-link" routerLink="videos">Videos</a>
    </div>
  </div>
</nav>

<div class="container" id="mainRouter">
  <router-outlet></router-outlet>
</div>

<!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
